@media (max-width: 529px) {
	html {
		height: 100%; 
		width: 100%; 
	}

	body { 
		height: 100%; 
		min-height: 100%;
		overflow-y: scroll;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}

	footer {
		position: relative;
		margin-top: $base-unit * 6;
		left: 0;
		display: none;
	}

	#questionAnswers {
		width: 100%;
    	margin: 0 auto;
	}

	#question 				{ margin-top: 0; }

	#quiz > .container 		{ padding: $base-unit * 2; }

	#quiz-start 			{ margin-bottom: 0; }

	#actualScore p {
		margin: 0;
		position: absolute;
    	left: 0;
    	right: 0;
    	top: 20%;
	}

	#restart, #checkScore {
	    padding: $base-unit * 2;
	    margin: $base-unit * 2 auto;
	}

	ul {
		text-align: left;
		padding-left: $base-unit * 8;
    	width: $base-unit * 20;
    	margin: 0 auto;
	}


	h1 						{ font-size: $base-font-unit * 2; }

	h2 						{ font-size: $base-font-unit * 1.5; }

	h4 						{ margin: $base-unit auto; }

	section#score p {
		width: 100%;
		margin: 0 auto;
	}

	.scoreDisplay {
		width: 90%;
    	top: 0;
    	right: 0;
		left: 0;
		font-size: $base-font-unit * 10;
	}

	#mobile_menu 			{ top: $base-unit * 9; }

	#result {
		width: 22%;
    	padding: $base-unit;
    	margin: $base-unit * 0.5 auto 0 auto;
	}
	
	#scoreboard {
    	right: 5%;
    	left: 5%;
    	top: 5%;
    	width: 90%;
    	z-index: 1000;
	}

}

@media (min-width: 5$base-unit * 3) and (max-width: 739px) {
	html {
		height: 100%; 
		width: 100%; 
	}

	body { 
		height: 100%; 
		min-height: 100%;
		overflow-y: scroll;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}

	#questionAnswers {
		width: 80%;
    	margin: 0 auto;
	}

	#question 				{ margin-top: 0; }

	#quiz > .container 		{ padding: $base-unit * 2; }

	#quiz-start 			{ margin-bottom: 0; }

	#mobile_menu 			{ top: $base-unit * 9; }

	.scoreDisplay {
		width: 90%;
    	top: 0;
    	right: 0;
		left: 0;
		font-size: $base-font-unit * 15;
	}

	#restart, #checkScore {
	    padding: $base-unit * 2;
	    margin: $base-unit * 2 auto;
	}

	ul {
		text-align: left;
		padding-left: $base-unit * 8;
    	width: $base-unit * 20;
    	margin: 0 auto;
	}


	h1 						{ font-size: $base-font-unit * 2; }

	h2 						{ font-size: $base-font-unit * 1.5; }

	h4 						{ margin: $base-unit auto; }

	#actualScore p {
		margin: 0;
		position: absolute;
    	left: 0;
    	right: 0;
    	top: 17%;
	}
	
	#result {
		width: 22%;
    	padding: $base-unit;
    	margin: $base-unit * 0.5 auto 0 auto;
	}

	footer {
		position: relative;
		margin-top: $base-unit * 4;
		left: 0;
		display: none;
	}


}

@media (min-width: 740px) and (max-width: 1229px) {
	html {
		height: 100%; 
		width: 100%; 
	}

	body { 
		height: 100%; 
		min-height: 100%;
		overflow-y: scroll;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		
	}

	#mobile_menu 				{ top: $base-unit * 9; }

	#question 					{ margin-top: 0; }

	#quiz > .container 			{ padding: $base-unit * 2; }

	#quiz-start 				{ margin-bottom: 0; }

	#actualScore p {
		margin: 0;
		position: absolute;
    	left: 0;
    	right: 0;
    	top: 13%;
	}

	#restart, #checkScore {
	    padding: $base-unit * 2;
	    margin: $base-unit * 2 auto;
	}

	.scoreDisplay 				{ font-size: $base-font-unit * 18; }

	ul {
		text-align: left;
		padding-left: $base-unit * 8;
    	width: $base-unit * 20;
    	margin: 0 auto;
	}

	h1 							{ font-size: $base-font-unit * 2; }

	h2 							{ font-size: $base-font-unit * 1.5; }

	section#score, section#score p {
		width: 80%;
		margin: 0 auto;
	}

	#result {
		width: 22%;
    	padding: $base-unit;
    	margin: $base-unit * 0.5 auto 0 auto;
	}
	
	#scoreboard {
		right: 5%;
		left: 5%;
		top: 5%;
		width: 90%;
		z-index: 1000;
	}

}

@media (max-height: 500) {

	body 						{ overflow-y: scroll; }
	
	#answers 					{ width: 90%; }

	#question 					{ margin-bottom: 0; }

	#mobile_menu {
		height: 100%;
		z-index: 1000;
		top: 0;
	}

	#actualScore p {
		margin: 0;
		position: absolute;
    	left: 0;
    	right: 0;
	}

	#quiz > .container 			{ margin-top: 0; }

	ul {
		margin: 0 auto;
		margin-left: 0;
    	margin-bottom: 0;
	}

	li 							{ padding: 0 $base-unit * 0.5; }

	h1 							{ margin: $base-unit 0 $base-unit 0; }

	h2 							{ margin-top: $base-font-unit * 1.2; }

	h4 							{ margin: $base-unit * 0.5 0; }

	#quiz-start 				{ margin-top: $base-unit * 2; }

	.scoreDisplay {
		right: 0;
		top: 0;
	}

	#restart 					{ top: $base-unit * 8; }

	#scoreTitle {
		right: 0;
    	left: 0;
    	position: relative;
	}

	#questionAnswers {
		width: 100%;
    	margin: 0 auto;
	}

	footer 						{ display: none; }
}