@media (min-width: 769px) {
    #progressBar, #result, #answers, #scoreboard {
        width: $base-unit * 32;
        margin: 0 auto;
    }

    #answers { width: $base-unit * 33; }

    #intro {
        .container { padding-top: $base-unit * 8; };
    }

}