<div id="quiz" ng-init="showQuestions()">
	<div class="container">
		<progress id="progressBar" value="0" max="100"></progress> 

		<h4 id="currentQuestion"></h4>
		<p id="question"></p>

		<ul id="answers">
			<li ng-repeat="item in currentAnswers">
				<input type="radio" name="answer" value="{{ item }}" ng-click="quizAnswers()">&nbsp;{{ item }}
			</li>
		</ul>
		<!-- <div id="questionAnswers">
			<button id="answer1" class="answerButton" name="answer" ng-click="quizAnswers()">A</button>
			<button id="answer2" class="answerButton" name="answer" ng-click="quizAnswers()">B</button>
			<button id="answer3" class="answerButton" name="answer" ng-click="quizAnswers()">C</button>
			<button id="answer4" class="answerButton" name="answer" ng-click="quizAnswers()">D</button>
		</div> -->
	</div>
</div>