* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a, a:active, a:focus, a:hover 	{ text-decoration: none; }

body { 
	font-family: $font-family-body; 
	color: $white; 
	margin: 0; 
	font-size: $font-size-body;
	z-index: 0; 
	min-height: 100%;
	background: url("../../assets/court_bg.jpg") no-repeat center center fixed;
	background-size: cover;
	text-align: center;
}

h1 { 
	font-size: $base-font-unit * 3;
	font-weight: bold;
	color: #546E7A;
	margin-top: $base-unit;	
}

h2 {
	font-size: $base-font-unit * 2.5;
	margin-top: $base-unit * 4;
}

h3 { 
	margin: $base-unit * 2 auto; 
	font-size: $base-unit * 2;
	font-weight: bold;
}

h4 { 
	margin: $base-unit * 0.5 auto; 
	font-size: $base-unit * 1.5;
}

footer {
	color: #546E7A;
	position: absolute;
    left: 46%;
    bottom: $base-unit;
    display: none;
}

button { border: none; }
